.translate {
    font-size: 20px;
    padding-left: 4px;
    font-weight: bold;
    color: #5f6368;
    display: inline-block;
    font-family: "Product Sans",Arial,sans-serif;
    font-size: 22px;
    line-height: 24px;
    position: relative;
    vertical-align: middle;
}

.google {
    height: 24px;
    width: 74px;
    display: inline-block;
    vertical-align: middle;
}